{% set testimonial = Post(testimonial) %}
<div class="bg-primary text-white p-6 rounded-tl-3xl flex flex-col">
    <div class="flex items-center">
        <span class="rounded-full w-12 h-12 mr-4 flex items-center justify-center bg-white text-secondary-dark">{{ fn('icon','star','w-7 h-7') }}</span>
        <span class="text-lg leading-tight">{{ testimonial.title }}</span>
    </div>
    <div class="mt-4 text-sm">
        {% set copy = testimonial.content|striptags %}
        {% if copy|length > 300 %}
            {{ copy|slice(0, 300) }}
            <span class="inline dots">...</span>
            <span class="more">{{ copy|slice(300,copy|length) }}</span>
            <button class="block mt-1 text-grey-dark transition duration-300 readMore">Read more</button>
        {% else %}
            {{ copy }}
        {% endif %}
    </div>
</div>